@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}


h1, h2, h3, h4, a {
    font-family: roboto;
    text-decoration: none;
}

p {
    font-family: Oswald;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
  }

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}

.button-box {
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
}

body{
    background-color: #0071B3;
    
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #FF8E01;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #FF8E01;
    color: red;
}

.book, .join {
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

.book:hover, .join:hover {
    background-color: white;
    color: red;
}

#background{
    background-color: #AABD8C;
}
.msg {
    background-color: #FF8E01;
    line-height: 1.5em;
    padding: 35px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#hero-img{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.home-title{
    color: black;
    font-size: 2em;
    margin-top: 10px;
}


.home-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
  }
  
  .card-img, .mountains {
    width: 100%;
}

.card-img, .mountains {
    width: 100%;
  }
  
  .rivers-card 
  {
    grid-column:2/4 ;
    grid-row: 2/3;
    align-self: flex-end;
  }
  
  .camping-card {
    grid-column:5/7 ;
    grid-row: 2/3;
  
  }
  .rapids-card{
    grid-column:8/10 ;
    grid-row: 2/3;
  
  } 
  
  #background {
    grid-column:1/11 ;
    grid-row: 4/9;
  }
  
  .mountains{
    grid-column:2/7 ;
    grid-row: 5/8;
  } 
  
  .msg {
    grid-column:6/10 ;
    grid-row: 6/7;
  }

h4 {
color: black;
}

.msg h2{
    color: white;
    line-height: 1.5em;
}
.msg p{
    color: white;
    line-height: 1.5em;
    padding-bottom: 15px;
}
h2 {
        margin: 15px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer p {
    font-size: 1.2em;
    color: white;
}

footer p a:hover {
    text-decoration: underline;
}
footer {
    background-color: #0768a0;
    margin-top: 200px;
    padding: 25px 50px;
}

footer img{
    text-align: center;
}

footer a:hover{
    color: rgba(216, 1, 19);
}

footer .social img{
    padding: 5px;
}

footer {
    background-color: #aabd8c;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.msg {
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
   
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/* Page 2 - styles */

/**page 2 galery**/

.gallery_text{
    color: white;
    text-align: justify;
    margin-left: 7em;
    margin-right: 7em;
}
.gallery_text h1{
    text-align: center;
    padding-top: 10px;
}

.gallery_text h4{
    color: white;
}

.exp_galery{
    padding-left: 3rem;
    padding-top: 10px;
}

.list{
    width:100%;
    object-fit: cover;
    width: 95%;
    height: 80%;
    display: block;
}

.list{
    display: flex;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

/**page 2 grid**/
#hero-img{
    margin: 0 auto;
    max-width: 1600px;
}
.gallery_text2{
    text-align: justify;
    padding-top: 10px;
    color: white;
    padding-bottom: 10px;
    margin-left: 7em;
    margin-right: 7em;
   
}

.gallery_text2 h2{
    text-align: center;
}

.gallery_text2 h4{
    color: white;
}

/**activities offered**/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
}
@media (min-width: 768px){
    .grid{
    grid-template-columns: repeat(3, 1fr);
    }
}

.products {
    background-color:#1582C1;
    padding: 1rem;
    text-decoration: none;
}

.products__imag{
width: 100%;
height: 65%;
}

.products__sport{
    font-size: 2.2rem;
    text-align: center;
    color: #551A8B;
}

.products__sm{
    text-align: right;
    color:#F7F052;
    
}

.products__sport
.products__sm{
    margin: 1rem 0;
    line-height: 1.2;
   
}

/**Experinces Cards**/

.p2_cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background-color: rgb(13, 197, 136);
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    
}

.p2_cards p{
    text-align: justify;
    padding: 20px;
}


.expCard{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.expCard .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: .5s;
}

.expCard .front{
transform: perspective(600px) rotateY(0deg);
box-shadow: 0 5px 10px #000;
}

.expCard .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expCard .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #ffff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.expCard .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: rgb(3,35,54);
    padding: 15px;
    padding-bottom: 13rem;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.expCard .back .p2_link{
    border-top: solid 1px white;
    height: 50px;
    line-height: 50px;
}

.expCard .back .p2_link a{
    color: white;
}

.expCard .back h3{
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.expCard .back p {
    letter-spacing: 1px;
    font-size: 20px;
}

.expCard:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.expCard:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.difficulty{
    width: 50%;
    margin-bottom: 20px;
}

.difficulty_img{
    text-align: center;
}

@media screen and (max-width: 900px) {
 .gallery_text{
    margin-left: 2px;
    margin-right: 2px;
    font-size: 20px;
 }
 .list{
    margin-bottom: 0;
    margin-left: 0;
    width: 329px;
    height: 164px;
 }
 .gallery_text2{
    margin-left: 2px;
    margin-right: 2px;
    font-size: 20px;
 }
 .products__sport {
    font-size: 9px;
 }

 .products__sm {
    font-size: 8px;
 }

 .products__imag {
    width: 100%;
 }

 .products:last-child{
    visibility: hidden;
 }
    .p2_cards{
        margin-top: -7rem;
        margin-left: 2px;
        margin-right: 2px;
    }
        .p2_cards p {
                
                font-size: 20px;
            }
    .p2_cards h2{
    font-size: 30px;
    text-align: center;

    }

    .expCard{
        position: relative;
        width: 250px;
        height: 250px;
        margin: 20px;
    }

    .expCard .back p {
        letter-spacing: 1px;
        font-size: 15px;
    }

}

/*Contac us Form*/
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.container-form p{
    font-size: 17px;
    line-height: 1.6;
}

.container-form a{
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #000;
    font-weight: 700;
    cursor: default;
}

.container-form a i{
    color: #FF8E01;
    margin-right: 10px;
   
    
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

.contac_us{
    margin-top: 3rem;
    width: 20%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 70px;
    background-size: 100% auto;

}

.contact{
    border: 1px solid #ccc;
    margin-top: 2rem;
    border-radius: 1em;
}

form {
   margin: 0 auto;
   width: 400px;
   padding: 1em;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
    font-size: 15px;
    border: solid #dbdbdb;
    margin-bottom: 15px;
    border-radius: 3px;
    outline: 0px;
    border: 1px solid #999;
  }


  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 10em;
  }
  
  .button {
    padding-left: 90px; 
    list-style: none;
    text-align: center;
    
  }
  
  button {
    margin-left: 0.5em;
    margin-top: 20px;
    font-size: 16px;
    background: #FF8E01;
    padding: 15px;
    border: none;
    outline: 0px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
    
  }

  button:hover{
    background: #6f7364;
  }

  .contac_media{
    width: 35px;
    margin-right: 5px;
    margin-top: 10px;
    
  }

  @media screen and (max-width: 900px) {
        
       
    
        .container-form{
            margin-left: 3px;
            margin-right: 3px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }

        .contact_us img{
            width: 60%;
            margin-top: 3rem;
            border-radius: 1em;
        }

        .info-form{
            grid-area: 1 / 1 / 2 / 2;
        }

        .info-form p {
            margin-left: 5px;
        }

        form{
            width: 300px;
            grid-area: 2 / 1 / 3 / 2;
        }
  }
