@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/**
*Page 1
*
*Home page
*
**/
.main1 {
    background-color: #E0FBFC;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Lato';
    text-align: center;
}

h2{
    font-family: 'Lato';
    text-align: center;
    
}

h3{
    font-family: 'Lato';
    margin-left: 8%;
}

a{
    text-decoration: none;
    font-family: 'Roboto';
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}

/**Menu**/

header {
    background-color: #46A2FD;

}
.logo__p img {
    width: 200px;
    height: 100%;
    padding: 0;
}

.container__menu{
    list-style: none;
    padding: 0;
    background: #46A2FD;
    width: 90%;
    max-width: 920rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    grid-area: 1 / 2 / 2 / 5;

}


.menu__p a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu__p li{
    display: inline-block;
    text-align: center;
    font-size: 1.7rem;
    
}

.menu__p a:hover{
    color: #396E94;

}

.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(0, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.top__header{
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    
    
}

.search {
    display: flex;
    
}

.search input {
    align-self: center;
    text-align: center;
    border-style: none;
    font-size: 1.3rem;
    border-radius: 2rem;
}

.img__login{
    grid-area: 1 / 4 / 2 / 5;
    width: 35px;
    height: 35px;
    align-self: center;
    
}

.login{
    color:white;
}
/*End Menu*/

.heading_title{
    text-align: center;
    color: rgb(73, 74, 170);
    font-size: 50px;
}

.hero-img{
    width:500px;
    object-fit: cover;
    width: 50rem;
    height: 20rem;
    display: block;
    margin: 0 auto;
}

.welcome1{
    background-color: white;
    padding: 1.5rem ;
}

.welcome{
    width: 70%;
    display: block;
    margin: 0 auto;
    
}

/*Slider*/

.slider-frame {
	width: 1284px;
    height: auto;
	margin: 10px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 450%;
	
	animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/*Slider*/

.p0_text{
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 8%;
    margin-right: 8%;
}

.p1_text{
    text-align: justify;
    width: 70%;
    font-size: 1.2rem;
}

.p1_text2{
    font-size: 1.2rem;
    margin-left: 8%;
    text-align: justify;
    margin-right: 8%;    
}


.post{
    margin-bottom: 2rem;
    
}
  
  .img__post1{
      width: 30%;
      margin-left: 15%;
      
  }

  .img__post2{
    width: 30%;
    margin-left: 10%;

  }

  .button{
    background-color: #46A2FD;
    padding: 10px;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    align-content: center;
  }
  
  .post h1{
    text-align: center;
    margin-bottom: 5rem;
  }

  .pet_care{
    text-align: center;
    
  }

  .pet_care img{
    margin: 10px 30px 20px 0;
    
  }

  .animal_img{
    margin-top: 6rem;
  }

  /*footer*/

footer{
    background: #46A2FD;
    padding-top: 5px;
    padding-bottom: 6px;
    color: white;
    text-decoration: none;
    
}

footer p{
    margin-left: 10px;
}

footer img{
    margin-left: 10px;
}

.social .footer-menu{
    display: flex;
    float: right;
   
}

.social .footer-menu li{
    display: block;
    padding-right: 10px;
}

.social_icon{
    width: 2%; 
}

.footer-menu a{
text-decoration:none;
color: white
}

.footer-menu a:hover{
    color: #396E94;
  }

@media (max-width: 750px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .logo__p img {
        width: 90%;
        height: 100%;
    }

    .menu__p a{
        text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
    font-size: 15px;
    }

    .hero-img {
        object-fit: cover;
        width: 350px;
        height: 130px;
        display: block;
        margin: 0px auto;

    }

    .slider-frame{
        width: 98%;
        height: auto;
        margin-right: 3px;
        margin-left: 3px;
    }

    .social_icon{
        width: 7%; 
    }

    .social{
        padding-bottom: 35px;
    }

}

/**
*Page B
*
*Login page form
*
**/

/**Login Image**/

.background_image{
    background:url('../image/01_img.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.logo__login-page{
    width: 15rem;
    display: block;
    position:absolute;
}
.container__all{
    width: 100%;
    max-width: 850px;
    margin: auto;
    position: relative;
    margin-top: 15rem;
    margin-bottom: 14rem;
}

.background__box{
    width: 100%; 
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
}

.background__box div{
    margin: 100px 30px;
    color:white;
    transition: all 500ms;
}

.background__box div p,
.background__box div button{
    margin-top: 30px;
}

.background__box div h3{
    font-weight: 400;
    font-size: 20px;
}

.background__box button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;

}
.background__box button:hover{
    background: #fff;
    color: #46a2fd;
}

.cointainer__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 360px;
    position: relative;
    top: -200px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.cointainer__login-register form{
    width: 100%;
    padding: 10px 20px;
    background: rgb(224, 224, 224);
    position: absolute;
    border-radius: 20px;
}

.cointainer__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
    color: #46a2fd
}

.cointainer__login-register form input{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: none;
    color: black;
    font-size: 16px;
    outline: none;
}

.cointainer__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46a2fd;
    color: white;
    cursor: pointer;
    outline: none;
}

.form__login{
    opacity: 1;
    display: block;
}

.form__register{
    display: none;
}

/**
*Page 2
*
*Contac Us page
*
**/
.hero_abo_-us{
    width: 100%;

}

.mvision{
    background-color: #E0FBFC;
    padding: 5px;
    
}
.cards_about-us{
padding: 10rem;
background-color: #E0FBFC;
}

.heading_abu-us{
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: black;
    position: relative;
}

.heading_abu-us::after{
    content: "";
    width: 10rem;
    height: .5rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left:49%;
    transform: translateX(-50px);
    border-radius: 2rem;

}

.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card{
    width: 20rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 5rem 5rem 3rem rgba( 0,0,0,0.2);

}

.card .card-img{
    width: 100%;
    padding: 0;
    height: 15rem;
    object-fit: cover;
}

.profile-img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index:999;
    border: 1rem solid #ebeef8
}

.card h1{
    color: #333;
    margin: 1rem 0
}

.job-title{
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}

.about{
    font-size: 1.3rem;
    margin: 1.5rem 0;
    text-align: center;
    font-style: italic;
    color: #333
}

.card .btn{
    padding: 1rem 2.5rem;
    background-color: #46A2FD;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: white;
    font-size: 1.4rem;
    transition: all;
}

.card .btn:hover{
    transform: translateY(0);
    box-shadow: .5rem .5rem 2rem rgba( 0,0,0,0.2) 
}

.card .btn:active{
    transform: translateY(-2px);
    box-shadow: none 
}

.linkedin{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba( 0,0,0,0.1);
    text-align: center;
}

.linkedin img{
    width: 20%;
   
}

@media screen and (min-width: 700px) {
    
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
    }

    .card{
        margin: 2rem;
        transition: transform .5s;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .card:nth-child(1){
    animation: fadeIn .5 .5s backwards;
    }

}


/**
*Page 3
*
*Conact Us page
*
**/


.contac_page{
    background-color: #E0FBFC; 
}

.social_media{
    width: 100%;
    height: 50% ;
}

.info-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

.info-form h1{
    margin-bottom: 15px;
    font-size: 35px;
}

.info-form p{
    font-size: 17px;
    line-height: 1.6;
}

.info-form a{
    font-size: 16px;
    text-decoration: none;
    padding-left: 4rem;
    color: #000;
    font-weight: 700;
    cursor: default;
}

.contac_media{
    width: 95px;
    display: flex;
    margin-top: 100px;
    
    
}

.man{
    width: 210px;
}

.methods{
    text-align: center;
    background-color: #ebeef8;
    padding: 40px;

}

.form-p3{
    margin-left: 60px;
    margin-top: 2rem;
    grid-area: 1 / 1 / 2 / 2;
    
}

.form-contac{
    background-color: rgb(233, 231, 231);
    width: 900px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-sizing: border-box;
    position: relative; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
 }
   
 ul {
     list-style: none;
     padding: 0;
     margin: 0;
   }
   
   form li + li {
     margin-top: 1em;
   }
   
   label {
     display: inline-block;
     width: 90px;
     text-align: right;
   }
   
   input,
   textarea {
     font: 1em sans-serif;
     width: 100%;
     box-sizing: border-box;
     padding: 4px 10px;
     font-size: 15px;
     border: solid #dbdbdb;
     margin-bottom: 15px;
     border-radius: 3px;
     outline: 0px;
     border: 1px solid #999;
   }
 
   textarea {
     vertical-align: top;
     height: 8em;
   }
   
   .button_cont button{
    background-color: #46A2FD;
    padding: 10px;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    align-content: center;
    border: none;
    cursor: pointer;
   }
 

.schedule{
    margin-left: 25%;
    margin-top: 10px
    
}

.schedule a{
    color: black;
}

.sch-first_p{
width: 95px;
}
.patners{
    text-align: center;
}

.emergency24{
    width: 80%;
}

.terms{
    color: rgb(252, 111, 111);
}


.faq{
    width: 15%;
    margin-left: 75rem;
}

@media (max-width: 750px) {
    .man {
        width: 110px;
    }

}