@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main1 {
    background-color: #E0FBFC;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

p{
    font-family: 'Roboto';
}

h1{
    font-family: 'Lato';
    text-align: center;
}

h2{
    font-family: 'Lato';
    text-align: center;
    
}

h3{
    font-family: 'Lato';
    margin-left: 8%;
}

a{
    text-decoration: none;
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}

/**Menu**/

header {
    background-color: #46A2FD;

}
.logo__p img {
    width: 200px;
    height: 100%;
    padding: 0;
}

.container__menu{
    list-style: none;
    padding: 0;
    background: #46A2FD;
    width: 90%;
    max-width: 920rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    grid-area: 1 / 2 / 2 / 5;

}


.menu__p a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu__p li{
    display: inline-block;
    text-align: center;
    font-size: 1.7rem;
    
}

.menu__p a:hover{
    color: #396E94;

}

.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(0, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.top__header{
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    
    
}

.search {
    display: flex;
    
}

.search input {
    align-self: center;
    text-align: center;
    border-style: none;
    font-size: 1.3rem;
    border-radius: 2rem;
}

.img__login{
    grid-area: 1 / 4 / 2 / 5;
    width: 35px;
    height: 35px;
    align-self: center;
    
}

.login{
    color:white;
}
/*End Menu*/

.heading_title{
    text-align: center;
    color: rgb(73, 74, 170);
    font-size: 50px;
}

.hero-img{
    width:100%;
    object-fit: cover;
    width: 50rem;
    height: 20rem;
    display: block;
    margin: 0 auto;
}

.welcome1{
    background-color: white;
    padding: 1.5rem ;
}

.welcome{
    width: 1000px;
    display: block;
    margin: 0 auto;
    
}

/*Slider*/

.slider-frame {
	width: 1284px;
    height: auto;
	margin: 10px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 450%;
	
	animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/*Slider*/

.p0_text{
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 8%;
    margin-right: 8%;
}

.p1_text{
    text-align: justify;
    width: 70%;
    font-size: 1.2rem;
}

.p1_text2{
    font-size: 1.2rem;
    margin-left: 8%;
    text-align: justify;
    margin-right: 8%;    
}

/* video */
.post{
    margin-bottom: 2rem;
    
}
  
  .img__post1{
      width: 30%;
      margin-left: 15%;
      
  }

  .img__post2{
    width: 30%;
    margin-left: 10%;

  }

  .button{
    background-color: #46A2FD;
    padding: 10px;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    align-content: center;
  }
  
  .post h1{
    text-align: center;
    margin-bottom: 5rem;
  }

  .pet_care{
    text-align: center;
    
  }

  .pet_care img{
    margin: 10px 30px 20px 0;
    
  }

  .animal_img{
    margin-top: 6rem;
  }

  /*footer*/

footer{
    background: #46A2FD;
    padding-top: 5px;
    padding-bottom: 6px;
    color: white;
    text-decoration: none;
    
}

footer p{
    margin-left: 10px;
}

footer img{
    margin-left: 10px;
}

.social .footer-menu{
    display: flex;
    float: right;
   
}

.social .footer-menu li{
    display: block;
    padding-right: 10px;
}

.social_icon{
    width: 2%; 
}

.footer-menu a{
text-decoration:none;
color: white
}

.footer-menu a:hover{
    color: #396E94;
  }

@media (max-width:900px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
}

/**
*Page 2
*
*Login page form
*
**/

/**Login Image**/

#content_login{
    max-width: 1600px;
}

.background_image{
    background:url('/vet_center/image/01_img.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.logo__login-page{
    width: 15rem;
    display: block;
    position:absolute;
}
.container__all{
    width: 100%;
    max-width: 850px;
    margin: auto;
    position: relative;
    margin-top: 47px;
    margin-bottom: 75px;
}

.background__box{
    width: 100%; 
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
}

.background__box div{
    margin: 100px 30px;
    color:white;
    transition: all 500ms;
}

.background__box div p,
.background__box div button{
    margin-top: 30px;
}

.background__box div h3{
    font-weight: 400;
    font-size: 20px;
}

.background__box button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;

}
.background__box button:hover{
    background: #fff;
    color: #46a2fd;
}

.cointainer__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 360px;
    position: relative;
    top: -200px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.cointainer__login-register form{
    width: 100%;
    padding: 40px 20px;
    background: rgb(224, 224, 224);
    position: absolute;
    border-radius: 20px;
}

.cointainer__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
    color: #46a2fd
}

.cointainer__login-register form input{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: none;
    color: black;
    font-size: 16px;
    outline: none;
}

.cointainer__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46a2fd;
    color: white;
    cursor: pointer;
    outline: none;
}

.form__login{
    opacity: 1;
    display: block;
}

.form__register{
    display: none;
}